body {
  margin-bottom: 0px;
  background-color: #dd202b;
  font-family:'Open Sans', sans-serif;
  color: white;
  font-size: 13px;
  line-height: 18px;
}
h1 {
  display: block;
  margin-right: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
  font-size: 38px;
  line-height: 44px;
  font-weight: 700;
}
h2 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Sansation, sans-serif;
  font-size: 26px;
  line-height: 36px;
}
h3 {
  margin: 10px 0px 12px;
  font-family:'Sansation Bold', sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}
h4 {
  margin: 10px 0px;
  font-family: Sansation, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}
h5 {
  margin: 10px 0px;
  font-family:'Sansation Bold', sans-serif;
  font-size: 17px;
  line-height: 20px;
  font-weight: 400;
}
h6 {
  margin: 10px 0px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}
hr {
  border: none;
  border-bottom: 1px solid gray;
}
p {
  display: block;
  margin-bottom: 15px;
  padding-top: 5px;
  font-size: 1em;
}
a {
  color: #2a80b8;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a.spaced-link {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Sansation, sans-serif;
}
a.black-link {
  color: black;
}
.section {
  padding-top: 30px;
  padding-bottom: 30px;
}
.section.work-section {
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: white;
  color: #454545;
  font-size: 14px;
}
.section.work-section.gray-work-section {
  background-color: #f2f2f2;
}
.section.home-main-section {
  padding-bottom: 0px;
}
.main-content {
  background-color: white;
  color: #666;
}
.main-content.video-section-schools {
  padding-top: 60px;
  padding-bottom: 100px;
}
.main-menu {
  position: relative;
  z-index: 10;
  padding-top: 26px;
  padding-bottom: 26px;
  background-color: #dd202b;
}

.main-menu a{
  color: white;
  text-decoration: none;
}

.main-menu.home-main-menu {
  padding-bottom: 120px;
}
.logo-header {
  position: relative;
  left: 11px;
  top: 3px;
  display: inline-block;
  font-family:'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.logo-header.wwu-logo-header {
  margin-bottom: -10px;
}
.questions_phone{
  position: absolute;
  right: 11px;
  bottom: -24px;
  font-size: .9em;
}
.main-menu .menu-item {
  margin-left: 12px;
  padding-right: 0px;
  font-weight: 400;
  list-style: none;
  display: inline;
}
.main-menu .menu-item:hover, .main-menu .menu-item.current-menu-item {
  border-bottom: 3px solid white;
  text-decoration: none;
}
.menu-options {
  padding-top: 5px;
  font-family:'FuturaCondensedMedium', sans-serif;
  font-size: 20px;
  text-align: right;
  text-transform: uppercase;
}
.search-form {
  position: relative;
  top: 6px;
  display: inline-block;
}
.input {
  position: relative;
  top: -3px;
  display: inline-block;
  width: 120px;
  height: 27px;
  padding-right: 6px;
  padding-left: 6px;
  font-family:'Bebas Neue', sans-serif;
  font-size: 12px;
  letter-spacing: 0px;
}
.input.input-sponsors {
  width: 85%;
  padding: 20px 16px;
  font-size: 18px;
  font-style: italic;
}
.input.home-input {
  width: 70%;
  padding-top: 17px;
  padding-bottom: 17px;
}
.search-form-wrapper {
  display: inline-block;
  margin-left: 15px;
}
.submit-search {
  overflow-x: hidden;
  overflow-y: hidden;
  height: 27px;
  padding-right: 18px;
  padding-left: 18px;
  background-color: #0d69ac;
  background-image: url('../images/magnifier.png');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  text-indent: -50em;
}
.submit-search.submit-sponsors {
  position: relative;
  top: -1px;
  height: 42px;
  padding: 18px 27px;
  background-image: url('../images/sponsors-magnifier.png');
}
.submit-search.home-submit {
  height: 36px;
  padding-top: 16px;
  padding-bottom: 16px;
}
.logo {
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
.logo:hover {
  text-shadow: none;
}
.hero {
  position: relative;
  padding-top: 126px;
  padding-bottom: 126px;
  font-family: Sansation, sans-serif;
}
.hero.hero-home.hero-sponsors {
  padding-top: 35px;
  padding-bottom: 35px;
}
.hero-call {
  margin-bottom: 20px;
  font-family:'Bebas Neue', sans-serif;
  font-size: 56px;
  text-shadow: rgba(0, 0, 0, 0.29) 3px 3px 1px;
}
.hero-call.hero-inner-call {
  margin-bottom: 8px;
  font-family:'Sansation Bold', sans-serif;
  font-size: 50px;
  text-shadow: none;
}
.hero-call.hero-call-schools {
  font-weight: 400;
}
.school-box{
  background:#f2f2f2;
  box-shadow: 0 0 2px 2px #ccc;
  padding:15px;
  margin-bottom: 10px;
  overflow: hidden;
}
.school-title-box{
  background: #191a1e;
  margin-bottom: 10px;
  border: 2px white solid;
  box-shadow: 0 0 2px 2px #ccc;
  overflow: hidden;
  padding: 0 15px;
  color: white;
  font-family:'Bebas Neue', sans-serif;
}
.important {
  display: block;
  float: none;
  font-size: 140%;
  line-height: 1em;
}
.important.schools-important {
  margin-bottom: -48px;
  margin-left: -4px;
  font-size: 110px;
  font-weight: 400;
}
.hero-paragraph {
  margin-right: 72px;
  padding-top: 18px;
  border-top: 1px solid white;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px 0px inset;
  font-size: 17px;
}
.hero-paragraph.hero-inner-paragraph {
  box-shadow: none;
}
.football-player {
  position: absolute;
  right: -242px;
  bottom: 0px;
  z-index: 0;
  max-width: 1000%;
}
.red-section-link {
  -webkit-transition-delay: initial;
  -o-transition-delay: initial;
  transition-delay: initial;
  color: white;
  text-decoration: none;
}
.school-resources-link {
  margin-left: 10px;
  padding-left: 10px;
  float: right;
  border-left-style: solid;
  border-left-width: 1px;
  font-size: 12px;
  float: left;
  color: #454545;
}
.red-section-link.school-resources-link {
  float: right;
}
.social-links {
  position: absolute;
  right: 12px;
  bottom: -19px;
  width: 200px;
}
.social-links.social-links-footer-home {
  position: static;
  margin-bottom: 20px;
}
.social-link {
  margin-left: 3px;
  padding-right: 0px;
  padding-left: 0px;
  float: right;
}
.social-link.social-link-footer {
  margin-top: 5px;
  float: left;
}
.social-link.home-social-link {
  float: left;
}
.copyright {
  background-color: #3c3c3c;
  font-size: 10px;
  text-align: right;
}
.copyright.home-copyright {
  padding-top: 0;
  padding-bottom: 60px;
  background: white;
  color: #454545;
  text-align: left;
}
.copyright.home-copyright .logo{
  position: relative;
  top: -2px;
}
.copyright.home-copyright small{
  font-weight: 700;
  margin-left: -6px;
}
.copyright-child {
  display: inline-block;
  margin-left: 10px;
}
.copyright-child.wwu-logo {
  width: 50px;
  margin-left: 0px;
}
.footer {
  background-color: #2f2f2f;
  font-family: Sansation, sans-serif;
}
.footer a {
  color: white;
  text-decoration: none;
}
.footer a:hover, .footer .current-menu-item a {
  text-decoration: underline;
  text-shadow: none;
}
.footer-row {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #424242;
}
.footer-link.footer-link-home {
  color: #454545;
  font-size: 1em;
}
.footer-paragraph {
  margin-top: -3px;
  padding-top: 0px;
  padding-right: 20px;
  font-size: 12px;
  line-height: 18px;
}
.subheading {
  margin-top: auto;
  margin-bottom: auto;
  font-family:'Bebas Neue', sans-serif;
}
.hero-section {
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: #dd202b;
}
.hero.hero-home {
  min-height: 450px;
}
.inline {
  display: inline-block;
  padding-left: 13px;
}
.left {
  margin-right: 10px;
  float: left;
}
.facebook-widget {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 0px 0px 7px;
}
.main-row {
  overflow-x: hidden;
  overflow-y: hidden;
  padding-top: 32px;
  padding-bottom: 32px;
}
.transparent-box {
  margin: 15px 15px 45px;
  padding: 30px 20px;
  border: 1px solid #797979;
  font-size: 11px;
  text-align: center;
}
.right {
  margin-left: 10px;
  float: right;
}
.block-column {
  padding: 10px 25px;
}
.red-block {
  background-color: #dd202b;
  color: white;
}
.dark-block {
  background-color: #454545;
  color: white;
}
.block-title {
  font-family: Sansation, sans-serif;
  color: white;
  font-size: 22px;
  text-transform: none;
}
.block-address {
  margin-bottom: 28px;
  font-size: 17px;
  line-height: 1.2em;
  font-style: normal;
}
.strong-number {
  font-size: 23px;
}
.contact-submit-button {
  padding: 6px 26px;
  float: right;
  background-color: #dd202b;
  text-transform: uppercase;
  margin-bottom: 13px;
}
.contact-label {
  font-size: 10px;
  text-transform: uppercase;
}
.contact-field {
  height: auto;
  margin-top: -6px;
  margin-bottom: 6px;
  padding: 5px 8px;
  background-color: #e8e8e8;
  color: #454545;
  font-size: 12px;
}
.contact-field:focus {
  background-color: white;
}
.contact-field.text-area {
  height: 90px;
  margin-bottom: 12px;
}
.red-block-title {
  color: #dd202b;
  text-transform: none;
}
.red-block-title.centered {
  text-align: center;
}
.block-column-wrapper {
  height: 100%;
}
.full-height-column {
  width: 100%;
  margin-bottom: -999px;
  padding-bottom: 965px;
  float: left;
  font-family: Sansation, sans-serif;
}
.directory-block {
  margin-top: 33px;
  margin-bottom: 33px;
}
.directory-title {
  font-size: 15px;
  text-transform: uppercase;
}
.sponsors-form-wrapper {
  margin-top: 35px;
  padding: 12px 17px 20px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.12);
}
.sponsors-form-wrapper.footer-sponsors-form {
  background-color: transparent;
  color: #f02e4e;
}
.sponsors-form-wrapper.footer-sponsors-form.white-sponsor-form-wrapper {
  padding-top: 60px;
  padding-right: 0px;
  padding-left: 50px;
}
.sponsors-form {
  display: block;
}
.sponsors-form-title {
  padding-left: 42px;
  background-image: url('../images/sponsors-red-magnifier.png');
  background-position: 0px 50%;
  background-repeat: no-repeat;
}
.sponsors-form-title.footer-sponsor-form-title {
  padding-top: 32px;
  padding-left: 0px;
  background-position: 0px 0px;
  font-size: 18px;
}
.sponsors-form-title.footer-sponsor-form-title.white-sponsor-form {
  background-image: url('../images/white-magnifier.png');
  color: white;
}
.testimonial {
  margin-top: 16px;
  padding-top: 34px;
  padding-right: 10px;
  padding-left: 10px;
  background-image: url('../images/testimonial.png');
  background-position: 50% 0px;
  background-repeat: no-repeat;
  line-height: 18px;
  text-align: center;
}
.testimonial.testimonial-red-color {
  color: #f02e4e;
}
.testimonial.testimonial-home {
  padding-right: 102px;
  padding-left: 102px;
  background-image: url('../images/home-testimonials-quote.png');
}
.testimonial-link {
  color: #1087ff;
  font-size: 11px;
  text-decoration: underline;
}
.testimonial-author {
  margin-top: -11px;
  margin-bottom: 10px;
  font-family:'Sansation Bold', sans-serif;
  line-height: 16px;
}
.testimonial-author.home-author {
  font-family:'Open Sans', sans-serif;
  font-size: 10px;
}
.gray-section-soccer {
  background-color: #777;
  font-family:'Sansation Bold', sans-serif;
  color: white;
  font-weight: 400;
}
.gray-section-soccer.soccer-girl-section {
  font-family: Sansation, sans-serif;
}
.soccer-girl-section {
  padding: 20px 25px;
}
.soccer-girl-section.red-section {
  position: relative;
  background-color: #ea2333;
  color: white;
}
.soccer-gray-paragraph {
  max-width: 571px;
  font-size: 17px;
  line-height: 20px;
}
.soccer-section-list {
  padding-left: 0px;
  font-family:'Sansation Bold', sans-serif;
  font-size: 14px;
  list-style-type: none;
}
.soccer-section-list.soccer-list-schools {
  margin-top: 69px;
  margin-bottom: 52px;
}
.soccer-list-item {
  width: 330px;
  margin-bottom: 20px;
  padding-left: 40px;
  background-image: url('../images/yellow-check.png');
  background-position: 0px 5px;
  background-repeat: no-repeat;
}
.soccer-list-item.soccer-girl-list-schools {
  width: auto;
  margin-bottom: 0px;
  padding-top: 8px;
  padding-bottom: 8px;
}
.soccer-girl {
  position: absolute;
  right: -17px;
  bottom: 0px;
  max-width: 590px;
}
.three-column-red {
  padding: 50px 21px;
  font-family: Sansation, sans-serif;
  text-align: center;
}
.three-column-percent {
  font-family:'Open Sans', sans-serif;
  font-size: 36px;
  line-height: 49px;
  font-weight: 800;
}
.source {
  position: relative;
  bottom: -24px;
  font-family:'Sansation Bold', sans-serif;
  color: #930000;
  font-size: 10px;
  line-height: 12px;
}
.sponsorship-adds {
  margin-top: 40px;
  margin-bottom: 40px;
}
.green-gray-section {
  background-color: #b1b1b1;
  background-image: url('../images/gray_green_section_bg.jpg');
  background-position: 50% 0px;
  background-repeat: no-repeat;
  color: white;
  font-size: 14px;
  text-align: center;
}
.green-gray-content {
  padding: 20px 27px;
  font-size: 13px;
}
.green-gray-title {
  padding-top: 8px;
  padding-bottom: 8px;
  color: #b7e04a;
  font-size: 16px;
}
.adds-images {
  padding-top: 65px;
}
.add-image {
  margin-bottom: 16px;
}
.gray-row {
  background-color: #b1b1b1;
}
.red-column {
  padding-right: 0px;
  padding-left: 0px;
  background-color: #dd202b;
  color: white;
  font-size: 14px;
}
.adds-red-content {
  margin-bottom: 20px;
  padding-right: 30px;
  padding-left: 30px;
}
.adds-red-title-h4 {
  display: inline-block;
  padding-left: 10px;
  color: #2b2b2b;
}
.adds-content-paragraph {
  font-size: 11px;
  line-height: 24px;
}
.adds-content-section {
  padding-top: 45px;
  padding-bottom: 45px;
}
.white-row {
  background-color: #e1e1e1;
  color: black;
}
.add-products-paragraph {
  margin-top: -8px;
  margin-bottom: 25px;
}
.add-products-section {
  padding: 20px 35px;
}
.add-products-image {
  max-width: 110%;
  margin-left: -17px;
}
.dark-gray-row {
  background-color: #9e9e9e;
  color: #262626;
}
.add-portfolio-column {
  padding-top: 70px;
  font-size: 13px;
  text-align: center;
}
.add-portfolio-title {
  font-size: 22px;
}
.button {
  display: inline-block;
  padding: 9px 41px;
  border-radius: 2px;
  background-color: #dd202b;
  color: white;
  text-decoration: none;
  border: none;
}
.button:hover {
  background-color: #930000;
}
.button.portfolio-button {
  margin-top: 15px;
}
.button.home-button {
  margin: 10px 7px 10px 0;
}
.button.pay-submit {
  margin-top: 14px;
  clear: both;
}
.form-labels{
  width: 100%;
  clear: both;
}
p.question{
  font-weight: bold;
  font-size: 1.1em;
  color: #333;
}
.add-sizes-section {
  padding: 30px 40px;
  font-size: 13px;
}
.black-section {
  background-color: black;
}
.black-section.black-section-player {
  min-height: 500px;
  background-image: url('../images/black_section_player.png');
  background-position: 119% 100%;
  background-repeat: no-repeat;
}
.faq-section {
  margin-top: 120px;
  margin-bottom: 75px;
  font-size: 12px;
}
.faq-section.faq-schools {
  margin-top: 20px;
  margin-bottom: auto;
  margin-left: 21px;
}
.faq-list {
  margin-top: 17px;
  margin-bottom: 17px;
  padding-left: 0px;
  list-style-type: none;
}
.faq-list-item {
  margin-bottom: 10px;
}
.testimonials-section {
  padding-top: 75px;
  padding-bottom: 75px;
  background-image: url('../images/basketball-player.png');
  background-position: 100% 100%;
  background-repeat: no-repeat;
}
.red-testimonial {
  padding: 46px 20px 35px;
  background-image: url('../images/red-testimonial-bg.png');
  background-position: 50% 0px;
  background-repeat: no-repeat;
  font-size: 11px;
  text-align: center;
}
.red-testimonial.featured-site-testimonial{
  text-align: left;
  padding: 40px 0px 20px 0px;
  background-image: url('../images/home-star.png');
  font-size: 1.1em;
  background-position: top left;
}
.home-magazines-section{
  background-color: #b2171c;
  margin-bottom: -30px;
}
.home-magazines-section img{
  position: relative;
  top: -30px;
  max-width: 106%;
  left: -5%;
}
.gray-white-section {
  background-image: -webkit-linear-gradient(338deg, #e7e7e7 53%, #424242 53%);
  background-image: -o-linear-gradient(248deg, #e7e7e7 53%, #424242 53%);
  background-image: linear-gradient(248deg, #e7e7e7 53%, #424242 53%);
}
.white-section{
  color: #454545;
}
.home-proud-to-be{
  color: #454545;
  padding-top: 40px;
}
.home-proud-to-be img{
  max-width: 28px;
  position: relative;
  top: -2px;
  left: -6px;
}
.home-video-container{
  text-align: center;
  padding: 4em;
  color: #4d4d4d;
  background-color: #eaeaea;
}
.home-video-container p{
  font-weight: bold;
  font-size: 1.05em;
}
.home-video-container p img{
  display: inline-block;
  margin-right: 6px;
  position: relative;
  top: -2px;
}
.facebook-title{
  text-transform: uppercase;
  font-family: 'FuturaCondensedMedium', sans-serif;
  font-weight: bold;
  margin-bottom: 20px;
  font-size: 22px;
  color: #454545;
}
.facebook-home-container{
  margin-left: 20px;
  margin-top: 60px;
}
.get-started-section {
  padding: 60px 64px;
  background-image: url('../images/plus-white-icon.png');
  background-position: 0px 31%;
  background-repeat: no-repeat;
  font-size: 14px;
}
.get-started-section.get-started-today {
  padding-top: 96px;
  padding-right: 20px;
  padding-left: 0px;
  background-image: url('../images/green-check.png');
  background-position: 0px 60px;
}
.phone-strong {
  display: block;
  padding-top: 6px;
  font-size: 28px;
}
.footer-sponsor-title {
  font-size: 26px;
}
.red-title-h2 {
  margin-top: 45px;
  color: #f02e4e;
}
.our-work-paragraph {
  padding-right: 40px;
  font-size: 0.9em;
}
.our-work-paragraph.ow-schools-paragraph {
  line-height: 24px;
}
.centered {
  text-align: center;
}
.small-explanation {
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: Sansation, sans-serif;
  font-size: 13px;
}
.our-work-thumb {
  max-width: 19%;
  margin: 2px;
}
.block {
  display: block;
}
.interactive-guide-icon {
  margin-top: 70px;
}
.column-with-bottom-space {
  margin-bottom: 30px;
}
.ow-media-image {
  margin-top: 30px;
  text-align: center;
}
.ow-media-image.owmi-even {
  margin-top: 50px;
}
.red-gray-section {
  background-image: -webkit-linear-gradient(left, #dd202b 50%, #999 50%);
  background-image: -o-linear-gradient(left, #dd202b 50%, #999 50%);
  background-image: linear-gradient(to right, #dd202b 50%, #999 50%);
}
.bbb-get-started {
  margin-top: 20px;
}
.about-heading {
  margin-bottom: 0px;
  text-transform: uppercase;
}
.about-paragraph {
  font-size: 12px;
  line-height: 18px;
}
.soccer-girl-title {
  position: relative;
  top: -61px;
  padding-top: 60px;
}
.soccer-girl-paragraph {
  max-width: 36%;
}
.padded-left-div {
  height: 150px;
  padding: 10px 10px 10px 135px;
}
.padded-left-div.dark-padded-left {
  background-color: #474747;
  background-image: -webkit-linear-gradient(208deg, #474747 11%, #f13c41 11%, #f13c41 24%, #474747 24%);
  background-image: -o-linear-gradient(118deg, #474747 11%, #f13c41 11%, #f13c41 24%, #474747 24%);
  background-image: linear-gradient(118deg, #474747 11%, #f13c41 11%, #f13c41 24%, #474747 24%);
  color: white;
}
.padded-left-div.red-div {
  position: relative;
  background-color: #f13c41;
  color: white;
}
.peoples-title {
  margin-top: 32px;
  margin-right: 30px;
  margin-left: 15px;
  padding-right: 0px;
  padding-left: 50px;
  background-image: url('../images/right-arrow.png'), url('../images/people-icon.png');
  background-position: 100% 100%, 0px 0px;
  background-repeat: no-repeat, no-repeat;
}
.basketball-player {
  position: absolute;
  left: -29px;
  bottom: 0px;
  max-height: 320px;
}
.video-column {
  height: 300px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.red-section {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f13c41;
}
.red-section.our-process-section {
  font-size: 12px;
}
.features-title {
  margin-bottom: 30px;
  padding-top: 17px;
  padding-bottom: 17px;
  padding-left: 74px;
  background-image: url('../images/features-of-our.png');
  background-position: 0px 50%;
  background-repeat: no-repeat;
}
.full-width-column {
  padding-right: 0px;
  padding-left: 0px;
}
.full-width-column.features-section {
  overflow-x: hidden;
  overflow-y: hidden;
  margin-bottom: 30px;
  background-color: white;
}
.full-width-column.features-section.features-odd {
  background-color: #eee;
}
.full-width-column.home-colorfull-column {
  padding-bottom: 560px;
  background-image: url('../images/home-bg.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}
.features-content {
  height: 340px;
  padding: 25px;
  color: #454545;
}
.features-content-title {
  color: #dd202b;
}
.features-paragraph {
  font-size: 11px;
  line-height: 24px;
}
.features-image {
  width: 100%;
}
.black-text {
  color: black;
}
.portfolio-thumb {
  max-width: 24%;
  margin: 2px;
}
.portfolio-thumbs {
  margin-bottom: 70px;
}
.gray-section {
  background-color: #eee;
  color: black;
}
.testimonials-school-section {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #454545;
  font-size: 12px;
  text-align: center;
}
.testimonials-row {
  margin-bottom: 46px;
}
.our-process-title {
  margin-left: -62px;
  padding-top: 41px;
  padding-bottom: 41px;
  padding-left: 115px;
  background-image: url('../images/our-process.png');
  background-position: 0px 50%;
  background-repeat: no-repeat;
}
.circle-title {
  display: table;
  width: 114px;
  height: 114px;
  margin-right: auto;
  margin-bottom: 25px;
  margin-left: auto;
  padding-right: 3px;
  padding-left: 3px;
  border-radius: 50%;
  background-color: #930000;
  background-image: url('../images/circles-bg.gif');
  text-align: center;
}
.circle-title h4{
  display: table-cell;
  vertical-align: middle;
  font-size: 14px;
  line-height: 15px;
}
.process-content {
  margin-bottom: 70px;
  padding-right: 25px;
  padding-left: 25px;
}
.working-with-us-section {
  padding-top: 100px;
  padding-bottom: 100px;
  background-image: url('../images/player-bg.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}
.wwu-red-section {
  padding: 25px 50px;
  background-color: transparent;
}
.wwu-white-section {
  padding: 30px 36% 30px 50px;
  background-color: white;
  color: #f02e4e;
  font-size: 12px;
}
.wwu-number {
  margin-right: 10px;
  font-size: 24px;
}
.red-row {
  background-color: #f02e4e;
}
.wwu-dark {
  padding: 50px 30px 40px 54px;
  background-color: #454545;
  background-image: url('../images/green-check.png');
  background-position: 9px 61px;
  background-repeat: no-repeat;
  font-size: 14px;
}
.wwu-cas {
  padding: 25px 20px 25px 50px;
  font-size: 11px;
}
.home-page {
  background-color: white;
}
.home-main {
  position: relative;
  z-index: 10;
  margin-top: -120px;
  background: #e0dfde url('../images/home-bg-texture.jpg') no-repeat left top;
}
.home-search-section {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  padding-right: 130px;
  padding-bottom: 5px;
  background-color: #dd202b;
}
.home-player {
  position: absolute;
  right: 0px;
  top: auto !important;
  bottom: 0px !important;
  height: 590px;
  max-width: 1000px;
}
.home-player-2{
  right: -17px;
}
.home-player-3{
  right: -60px;
}
.home-call-section {
  position: relative;
  z-index: 20;
  padding-top: 50px;
  padding-bottom: 172px;
  color: #454545;
  font-size: 14px;
  text-align: center;
}
.home-main-title {
  margin-bottom: 20px;
  font-family:'Open Sans', sans-serif;
  font-size: 30px;
  line-height: 38px;
  font-weight: 300;
  color: #dd202b;
  text-shadow: 1px 1px rgba(255,255,255,.6);
}
.ow-paragraph-centered {
  max-width: 700px;
  margin-right: auto;
  margin-left: auto;
}
.wwu-title {
  margin-bottom: 0px;
}
.home-form {
  margin-top: 30px;
  padding-left: 95px;
  background-image: url('../images/home-magnifier.png');
  background-position: 28px 36%;
  background-repeat: no-repeat;
  text-align: left;
  color: white;
}
.home-form-title {
  margin-bottom: 0px;
  font-family:'Open Sans', sans-serif;
  font-size: 14px;
}
.item-home-learn-more {
  margin-top: 20px;
  margin-bottom: 10px;
  padding-left: 17px;
  text-align: left;
}
.home-sponsors-section {
  background: url('../images/home-shadow.png') no-repeat center top;
  padding-top: 50px;
}
.home-sponsors-section h2{
  font-family:'Bebas Neue', sans-serif;
  color: #dd202b;
  font-weight: lighter;
}
.home-sponsors-section h2 strong{
  color: #454545;
  font-size: 40px;
  font-weight: lighter;
}
.home-featured-section {
  padding-top: 50px;
  padding-bottom: 140px;
  background: url('../images/home-big-bg.jpg') no-repeat 50% 50%;
}
.home-featured-row {
  background-color: #dd202b;
  color: white;
}
.home-featured-column {
  padding: 60px 200px 70px 70px;
  background: #1769a9 url('../images/home-soccer-ball.jpg') no-repeat right bottom;
}
.home-featured-title {
  margin-bottom: 0;
  line-height: 1em;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 48px;
  font-weight: lighter;
}
.home-featured-paragraph {
  margin-bottom: 10px;
}
.get-visible{
  background: #dd202b;
  padding: 30px 30px 10px;
}
.home-video-facebook{
  background-color: #c9c9c9;
}
.get-visible-paragraph{
  font-size: .9em;
  margin-bottom: 5px;
}
.get-visible-paragraph a{
  font-weight: bold;
  color: #40b3f2;
}
.get-visible-title{
  font-family: 'Bebas Neue', sans-serif;
  margin: 0;
  font-size: 23px;
  font-weight: lighter;
}
.home-basketbal-section{
  background: #0d0605 url('../images/home-basketball-section.jpg') no-repeat center;
  background-size: cover;
  padding: 30px 30px 30px 250px;
}
.testimonial-home-basket{
  text-align: left;
  background-position: 0px 5px;
  padding: 0 0 0 50px;
  background-image: url('../images/home-testimonials-quote.png');
}
.home-footer {
  padding-top: 20px;
  padding-bottom: 80px;
  color: #454545;
  font-size: 11px;
}
.footer-section {
  padding-right: 26px;
  border-right: 1px solid #b8b8b8;
  line-height: 24px;
}
.home-footer-title {
  margin-bottom: 4px;
  font-family:'Bebas Neue', sans-serif;
}
.home-footer-paragraph {
  margin-bottom: 0px;
}
.proud-to-be-left {
  font-size: 10px;
  line-height: 13px;
}
.home-hat {
  display: block;
  margin-top: 25px;
  margin-bottom: 18px;
}
#lean_overlay {
  position: fixed;
  z-index:100;
  top: 0px;
  left: 0px;
  height:100%;
  width:100%;
  background: #000;
  display: none;
}
.faq-list-item{
  cursor: pointer;
  font-weight: bold;
}
.faq-answer{
  display: none;
  font-weight: normal;
}
.leanModalDiv {
  display: none;
  padding: 10px;
  background: white url('../images/loading.gif') no-repeat center;
  border-radius: 5px;
}
.posterModal {
  top: 5px !important;
}
.posterModal img{
  max-height: 96%;
}
html.w-mod-js *[data-ix="player-appearing"] {
  opacity: 0;
  -webkit-transform: translate(-100%, 0px);
  -ms-transform: translate(-100%, 0px);
  -o-transform: translate(-100%, 0px);
  transform: translate(-100%, 0px);
}
html.w-mod-js *[data-ix="text-appearing"] {
  opacity: 0;
  -webkit-transform: translate(0px, -49px);
  -ms-transform: translate(0px, -49px);
  -o-transform: translate(0px, -49px);
  transform: translate(0px, -49px);
}
html.w-mod-js *[data-ix="text-appearing-2"] {
  opacity: 0;
  -webkit-transform: translate(0px, 50px);
  -ms-transform: translate(0px, 50px);
  -o-transform: translate(0px, 50px);
  transform: translate(0px, 50px);
}
@media (max-width: 991px) {
  p {
    font-size: 14px;
    line-height: 21px;
  }
  .logo-header {
    left: 0px;
    top: 0px;
    bottom: 3px;
  }
  .home-basketbal-section{
    padding-left: 220px;
    background-attachment: fixed;
  }
  .search-form {
    margin-top: 8px;
  }
  .input.input-sponsors {
    width: 82%;
  }
  .hero.hero-home.hero-sponsors {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .red-section-link.home-footer-link {
    display: block;
    margin-top: 2px;
    margin-left: 0px;
    padding-left: 0px;
    clear: left;
    border-left-style: none;
    border-left-width: 0px;
  }
  .home-featured-column{
    padding: 40px 80px 180px 40px;
  }
  .social-links {
    bottom: -11px;
  }
  .sponsors-form-wrapper.footer-sponsors-form.white-sponsor-form-wrapper {
    padding-left: 20px;
  }
  .testimonial.testimonial-home {
    padding-right: 30px;
    padding-left: 30px;
  }
  .soccer-section-list {
    position: relative;
    z-index: 2;
  }
  .soccer-section-list.soccer-list-schools {
    margin-bottom: 13px;
  }
  .soccer-girl {
    right: -12px;
    z-index: 0;
    max-width: 410px;
  }
  .adds-red-title-h4 {
    font-size: 16px;
  }
  .adds-content-paragraph {
    line-height: 19px;
  }
  .black-section.black-section-player {
    background-position: 200% 100%;
  }
  .testimonials-section {
    background-position: 126% 100%;
  }
  .padded-left-div.red-div {
    height: 240px;
  }
  .peoples-title {
    margin-top: 14px;
    margin-right: 0px;
    margin-left: -24px;
    padding-right: 0px;
    padding-bottom: 16px;
  }
  .video-column {
    height: auto;
    margin-top: 80px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .features-content {
    height: 430px;
  }
  .our-process-title {
    margin-left: 0px;
  }
  .home-player {
    height: 450px;
  }
  .home-call-section {
    height: 100%;
    padding-bottom: 161px;
  }
  .item-home-learn-more {
    margin-top: 12px;
    padding-left: 0px;
  }
}
@media (max-width: 767px) {
  h2 {
    margin-top: 0px;
  }
  .home-basketbal-section{
    padding-left: 30px;
  }
  .section {
    padding-top: 33px;
    padding-bottom: 33px;
    text-align: center;
  }
  .hero.hero-home {
    min-height: 350px;
  }
  .section.work-section {
    padding-top: 36px;
    padding-bottom: 36px;
  }
  .logo-header {
    left: 10px;
    top: 3px;
  }
  .menu-options {
    text-align: center;
  }
  .hero {
    padding-top: 7px;
    padding-bottom: 41px;
  }
  .hero.hero-home.hero-sponsors {
    padding-top: 18px;
    padding-bottom: 0px;
  }
  .hero-call {
    padding-right: 55px;
  }
  .hero-paragraph {
    margin-right: 218px;
  }
  .football-player {
    right: -166px;
    max-width: 100%;
  }
  .home-featured-column {
    padding: 40px 20px 180px 20px;
  }
  .social-links {
    bottom: 110px;
  }
  .footer-row {
    text-align: center;
  }
  .left {
    margin-bottom: 10px;
    float: none;
  }
  .soccer-section-list.soccer-list-schools {
    margin-top: 37px;
  }
  .soccer-list-item {
    width: auto;
  }
  .green-gray-section {
    background-position: 50% -128px;
    background-size: contain;
  }
  .add-portfolio-column {
    padding-bottom: 30px;
  }
  .black-section.black-section-player {
    padding-bottom: 460px;
    background-position: 50% 100%;
  }
  .faq-section {
    margin-top: 30px;
    margin-bottom: 0px;
    text-align: center;
  }
  .testimonials-section {
    background-position: 164% 100%;
  }
  .gray-white-section {
    background-image: none;
    background-position: 0% 0%;
    background-size: auto;
    background-repeat: repeat;
    background-attachment: scroll;
  }
  .red-title-h2 {
    margin-top: 0px;
  }
  .our-work-thumb {
    width: 100px;
  }
  .red-gray-section {
    padding-left: 20px;
    background-image: none;
    background-position: 0% 0%;
    background-size: auto;
    background-repeat: repeat;
    background-attachment: scroll;
  }
  .soccer-girl-paragraph {
    max-width: 100%;
  }
  .padded-left-div.dark-padded-left {
    height: auto;
    background-image: none;
    background-position: 0% 0%;
    background-size: auto;
    background-repeat: repeat;
    background-attachment: scroll;
  }
  .padded-left-div.red-div {
    height: auto;
  }
  .peoples-title {
    margin-top: 39px;
    margin-right: 29px;
    margin-left: 15px;
    padding-left: 54px;
    background-image: url('../images/people-icon.png');
    background-position: 0px 0px;
    background-repeat: no-repeat;
  }
  .video-column {
    margin-top: 10px;
  }
  .full-width-column.home-colorfull-column {
    padding-bottom: 100px;
  }
  .features-content {
    height: auto;
  }
  .features-image {
    display: block;
    width: 80%;
    margin: 20px auto -14px;
  }
  .portfolio-thumb {
    max-width: 31%;
  }
  .testimonials-row {
    margin-bottom: 0px;
  }
  .our-process-title {
    margin-left: 31px;
  }
  .process-content {
    margin-bottom: 20px;
    padding-right: 0px;
    padding-left: 0px;
  }
  .working-with-us-section {
    padding-top: 0px;
    padding-bottom: 0px;
    background-image: none;
    background-position: 0% 0%;
    background-size: auto;
    background-repeat: repeat;
    background-attachment: scroll;
  }
  .wwu-red-section {
    background-color: #930000;
  }
  .home-search-section {
    position: relative;
    padding-top: 1px;
  }
  .home-call-section {
    padding-bottom: 0px;
  }
  .footer-section {
    padding-right: 120px;
    padding-bottom: 25px;
    padding-left: 120px;
    border-right-style: none;
  }
  .footer-section-last {
    padding-right: 120px;
    padding-left: 120px;
  }
  .home-featured-section {
    background: none;
  }
}
@media (max-width: 479px) {
  h3 {
    font-size: 18px;
    line-height: 23px;
  }
  .section {
    text-align: center;
  }
  .main-menu {
    padding-bottom: 0px;
  }
  .menu-options {
    margin-top: 16px;
    margin-bottom: 16px;
  }
  .hero.hero-home {
    min-height: 0;
  }
  .logo.red-section-link {
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }
  .hero-call {
    padding-right: 0px;
    line-height: 47px;
    text-align: center;
  }
  .important {
    line-height: 68px;
  }
  .important.schools-important {
    line-height: 84px;
  }
  .hero-paragraph {
    margin-right: 0px;
  }
  .social-link.social-link-footer {
    float: none;
  }
  .footer-menu {
    margin-bottom: 28px;
  }
  .footer-paragraph {
    margin-bottom: 23px;
  }
  .full-height-column {
    margin-bottom: 10px;
    padding-bottom: 10px;
  }
  .green-gray-section {
    background-position: 50% 0px;
  }
  .black-section.black-section-player {
    min-height: 10px;
    padding-bottom: 0px;
    background-image: none;
    background-position: 0% 0%;
    background-size: auto;
    background-repeat: repeat;
    background-attachment: scroll;
  }
  .testimonials-section {
    background-image: none;
    background-position: 0% 0%;
    background-size: auto;
    background-repeat: repeat;
    background-attachment: scroll;
  }
  .our-work-thumb {
    width: 150px;
    max-width: 150px;
  }
  .padded-left-div.dark-padded-left {
    padding-left: 10px;
  }
  .padded-left-div.red-div {
    padding-left: 10px;
  }
  .features-image {
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
  }
  .portfolio-thumb {
    max-width: 45%;
  }
  .home-search-section {
    padding-right: 10px;
    background-position: 97% 61%;
  }
  .home-form {
    padding-left: 10px;
    background-image: none;
    background-position: 0% 0%;
    background-size: auto;
    background-repeat: repeat;
    background-attachment: scroll;
  }
  .item-home-learn-more {
    text-align: center;
  }
  .footer-section {
    padding-right: 10px;
    padding-left: 10px;
  }
  .footer-section-last {
    padding-right: 10px;
    padding-left: 10px;
  }
}

@font-face {
  font-family: 'Sansation';
  src: url('../fonts/Sansation_Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Sansation Light';
  src: url('../fonts/Sansation_Light.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Sansation Bold';
  src: url('../fonts/Sansation_Bold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Bebas Neue';
  src: url('../fonts/BebasNeue.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'FuturaCondensedMedium';
  src: url('../fonts/futura-condensedmedium-webfont.eot');
  src: url('../fonts/futura-condensedmedium-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/futura-condensedmedium-webfont.woff') format('woff'),
       url('../fonts/futura-condensedmedium-webfont.ttf') format('truetype'),
       url('../fonts/futura-condensedmedium-webfont.svg#FuturaCondensedMedium') format('svg');
  font-weight: normal;
  font-style: normal;
}