body {
  background-color: #dd202b;
  font-family: Sansation, sans-serif;
  color: white;
  font-size: 12px;
  line-height: 20px;
}
h1 {
  display: block;
  margin-right: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
  font-size: 38px;
  line-height: 44px;
  font-weight: 700;
}
h2 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 26px;
  line-height: 36px;
}
h3 {
  margin: 10px 0px 12px;
  font-family:'Sansation Bold', sans-serif;
  color: #5c5c5c;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;
}
h4 {
  margin: 10px 0px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}
h5 {
  margin: 10px 0px;
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
}
h6 {
  margin: 10px 0px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}
p {
  display: block;
  margin-bottom: 5px;
  font-size: 12px;
  line-height: 24px;
}
.section {
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.09);
}
.main-content {
  background-color: white;
  color: #666;
}
.main-menu {
  position: relative;
  z-index: 10;
  padding-top: 26px;
  padding-bottom: 26px;
}
.logo-header {
  position: relative;
  left: 11px;
  top: 3px;
  display: inline-block;
  font-family:'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.menu-link {
  margin-left: 15px;
  padding-right: 0px;
  font-weight: 400;
}
.menu-options {
  padding-top: 5px;
  font-family:'Bebas Neue', sans-serif;
  font-size: 20px;
  text-align: right;
}
.search-form {
  position: relative;
  top: 6px;
  display: inline-block;
}
.input {
  position: relative;
  top: -3px;
  display: inline-block;
  width: 120px;
  height: 27px;
  padding-right: 6px;
  padding-left: 6px;
  font-family:'Bebas Neue', sans-serif;
  font-size: 12px;
  letter-spacing: 0px;
}
.search-form-wrapper {
  display: inline-block;
  margin-left: 15px;
}
.submit-search {
  overflow-x: hidden;
  overflow-y: hidden;
  height: 27px;
  padding-right: 18px;
  padding-left: 18px;
  background-color: #0d69ac;
  background-image: url('../images/magnifier.png');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  text-indent: -50em;
}
.logo {
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
.logo:hover {
  text-shadow: none;
}
.hero {
  position: relative;
  padding-top: 126px;
  padding-bottom: 126px;
}
.hero-call {
  margin-bottom: 20px;
  font-family:'Bebas Neue', sans-serif;
  font-size: 56px;
  text-shadow: rgba(0, 0, 0, 0.29) 3px 3px 1px;
}
.hero-call.hero-inner-call {
  margin-bottom: 8px;
  font-family:'Sansation Bold', sans-serif;
  font-size: 50px;
  text-shadow: none;
}
.hero-call.hero-call-schools {
  font-weight: 400;
}
.important {
  display: block;
  float: none;
  font-size: 140%;
  line-height: 1em;
}
.important.schools-important {
  margin-bottom: -48px;
  margin-left: -4px;
  font-size: 110px;
  font-weight: 400;
}
.hero-paragraph {
  margin-right: 72px;
  padding-top: 18px;
  border-top: 1px solid white;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px 0px inset;
  font-size: 17px;
}
.hero-paragraph.hero-inner-paragraph {
  box-shadow: none;
}
.football-player {
  position: absolute;
  right: -242px;
  bottom: 0px;
  z-index: 0;
  max-width: 1000%;
}
.red-section-link {
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  color: white;
  text-decoration: none;
}
.red-section-link:hover {
  text-shadow: white 0px 1px 2px, #e0bc5a 0px 1px 9px;
}
.red-section-link.w--current {
  text-decoration: underline;
}
.red-section-link.school-resources-link {
  margin-left: 10px;
  padding-left: 10px;
  float: right;
  border-left-style: solid;
  border-left-width: 1px;
}
.social-links {
  position: absolute;
  right: 12px;
  bottom: -19px;
}
.social-link {
  margin-left: 3px;
  padding-right: 0px;
  padding-left: 0px;
  float: right;
}
.social-link.social-link-footer {
  margin-top: 5px;
  float: left;
}
.copyright {
  background-color: #3c3c3c;
  font-size: 10px;
  text-align: right;
}
.copyright-child {
  display: inline-block;
  margin-left: 10px;
}
.footer {
  background-color: #2f2f2f;
}
.footer-row {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #424242;
}
.footer-link {
  color: white;
  text-decoration: none;
}
.footer-link:hover {
  text-decoration: underline;
  text-shadow: none;
}
.footer-paragraph {
  padding-right: 20px;
  line-height: 18px;
}
.footer-list-item {
  font-size: 13px;
  font-weight: 400;
}
.subheading {
  margin-top: auto;
  margin-bottom: auto;
  font-family:'Bebas Neue', sans-serif;
}
.hero-section {
  overflow-x: hidden;
  overflow-y: hidden;
}
.inline {
  display: inline-block;
  padding-left: 13px;
}
.left {
  margin-right: 10px;
  float: left;
}
.facebook-widget {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 0px 0px 7px;
}
.main-row {
  overflow-x: hidden;
  overflow-y: hidden;
  padding-top: 32px;
  padding-bottom: 32px;
}
.transparent-box {
  margin: 15px 15px 45px;
  padding: 30px 20px;
  border: 1px solid #797979;
  text-align: center;
}
.right {
  margin-left: 10px;
  float: right;
}
.block-column {
  padding: 10px 25px;
}
.red-block {
  background-color: #dd202b;
  color: white;
}
.dark-block {
  background-color: #454545;
  color: white;
}
.block-title {
  font-family: Sansation, sans-serif;
  color: white;
  font-size: 22px;
  text-transform: none;
}
.block-address {
  margin-bottom: 28px;
  font-size: 17px;
  line-height: 1.2em;
  font-style: normal;
}
.strong-number {
  font-size: 23px;
}
.contact-submit-button {
  padding: 6px 26px;
  float: right;
  background-color: #dd202b;
  text-transform: uppercase;
}
.contact-label {
  font-size: 10px;
  text-transform: uppercase;
}
.contact-field {
  height: auto;
  margin-top: -6px;
  margin-bottom: 6px;
  padding: 5px 8px;
  background-color: #e8e8e8;
  color: #454545;
  font-size: 12px;
}
.contact-field:focus {
  background-color: white;
}
.contact-field.text-area {
  height: 90px;
  margin-bottom: 12px;
}
.red-block-title {
  color: #dd202b;
  text-transform: none;
}
.block-column-wrapper {
  height: 100%;
}
.full-height-column {
  width: 100%;
  margin-bottom: -999px;
  padding-bottom: 965px;
  float: left;
}
.directory-block {
  margin-top: 33px;
  margin-bottom: 33px;
}
.directory-title {
  font-size: 15px;
  text-transform: uppercase;
}
.directory-paragraph {
  font-size: 14px;
}
html.w-mod-js *[data-ix="player-appearing"] {
  opacity: 0;
  -webkit-transform: translate(-100%, 0px);
  -ms-transform: translate(-100%, 0px);
  -o-transform: translate(-100%, 0px);
  transform: translate(-100%, 0px);
}
html.w-mod-js *[data-ix="text-appearing"] {
  opacity: 0;
  -webkit-transform: translate(0px, -49px);
  -ms-transform: translate(0px, -49px);
  -o-transform: translate(0px, -49px);
  transform: translate(0px, -49px);
}
html.w-mod-js *[data-ix="text-appearing-2"] {
  opacity: 0;
  -webkit-transform: translate(0px, 50px);
  -ms-transform: translate(0px, 50px);
  -o-transform: translate(0px, 50px);
  transform: translate(0px, 50px);
}
@media (max-width: 991px) {
  p {
    font-size: 14px;
    line-height: 21px;
  }
  .logo-header {
    left: 0px;
    top: 0px;
    bottom: 3px;
  }
  .search-form {
    margin-top: 8px;
  }
  .social-links {
    bottom: -11px;
  }
}
@media (max-width: 767px) {
  h2 {
    margin-top: 0px;
  }
  .section {
    padding-top: 33px;
    padding-bottom: 33px;
    text-align: center;
  }
  .logo-header {
    left: 10px;
    top: 3px;
  }
  .menu-options {
    text-align: center;
  }
  .hero {
    padding-top: 7px;
    padding-bottom: 41px;
  }
  .hero-call {
    padding-right: 55px;
  }
  .hero-paragraph {
    margin-right: 218px;
  }
  .football-player {
    right: -166px;
    max-width: 100%;
  }
  .social-links {
    bottom: 110px;
  }
  .footer-row {
    text-align: center;
  }
  .left {
    margin-bottom: 10px;
    float: none;
  }
}
@media (max-width: 479px) {
  h3 {
    font-size: 18px;
    line-height: 23px;
  }
  .section {
    text-align: center;
  }
  .main-menu {
    padding-bottom: 0px;
  }
  .menu-options {
    margin-top: 16px;
    margin-bottom: 16px;
  }
  .logo.red-section-link {
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }
  .hero-call {
    padding-right: 0px;
    line-height: 47px;
    text-align: center;
  }
  .important {
    line-height: 68px;
  }
  .hero-paragraph {
    margin-right: 0px;
  }
  .social-link.social-link-footer {
    float: none;
  }
  .footer-menu {
    margin-bottom: 28px;
  }
  .footer-paragraph {
    margin-bottom: 23px;
  }
  .full-height-column {
    margin-bottom: 10px;
    padding-bottom: 10px;
  }
}

@font-face {
  font-family: 'Sansation';
  src: url('../fonts/Sansation_Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Sansation Light';
  src: url('../fonts/Sansation_Light.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Sansation Bold';
  src: url('../fonts/Sansation_Bold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Bebas Neue';
  src: url('../fonts/BebasNeue.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}