/* Blog List */
.bloglist-panel { float:left; margin-bottom:12px; text-align: center; margin-top: 20px; background:#1e1f23; border-top:1px solid #28292d; border-left:1px solid #28292d; -moz-border-radius: 4px; border-radius: 4px; -webkit-box-shadow: 0px 1px 2px #000000; -moz-box-shadow: 0px 1px 2px #000000; box-shadow: 0px 1px 2px #000000;}
.bloglist-title { padding:30px 22px 10px 22px;}
.bloglist-title h2 {font-family: 'Bebas Neue', sans-serif; font-weight:normal; font-size:19px; color:white; }
.bloglist-title h2 a { color:white;}
.bloglist-title h2 a:hover { color:#efefef;}
.page-navi { margin:-4px 0px 36px 0px;}
.page-navi a {font-family: 'ArenaCondensedRegular'; font-weight:normal; font-size:14px; color:#7f7f7f; text-decoration:none;  padding:10px 10px 0px 10px; background: #E4E4E4; /* old browsers */ background: -moz-linear-gradient(top, #E4E4E4 0%, #BDBDBD 100%); /* firefox */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#E4E4E4), color-stop(100%,#BDBDBD)); /* webkit */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E4E4E4', endColorstr='#BDBDBD',GradientType=0 ); /* ie */ background: -o-linear-gradient(top, #E4E4E4 0%,#BDBDBD 100%); /* opera */ -moz-border-radius: 4px; border-radius: 4px; -webkit-box-shadow: 0px 1px 2px #0f0f0f; -moz-box-shadow: 0px 1px 2px #0f0f0f; box-shadow: 0px 1px 2px #0f0f0f; margin-right:10px;}
.page-navi a:hover {color:#414141; text-decoration:none;  background: #BDBDBD; /* old browsers */ background: -moz-linear-gradient(top, #BDBDBD 0%, #E4E4E4 100%); /* firefox */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#BDBDBD), color-stop(100%,#E4E4E4)); /* webkit */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#BDBDBD', endColorstr='#E4E4E4',GradientType=0 ); /* ie */ background: -o-linear-gradient(top, #BDBDBD 0%,#E4E4E4 100%); /* opera */ -moz-border-radius: 4px;
border-radius: 4px; -webkit-box-shadow: inset 0px 1px 2px #0f0f0f; -moz-box-shadow: inset 0px 1px 2px #0f0f0f; box-shadow: inset 0px 1px 2px #0f0f0f;}


#school_logo {
  max-width: 150px;
  max-height: 130px;
}
#school_flyer {
  max-width:270px;
}
.school_page {
  font-weight: normal;
  font-size:12px;
  font-family: Helvetica, Arial, sans-serif;
}
.school_page input {
  background: #acacac;
  padding: 5px;
}
.school_page label {
  display: block;
  float:left;
  margin-right: 5px;
}
input.radio {
  display: block;
  float:left;
  margin-right: 5px;
  background: #000;
}
.blue_box_wrapper {
  display: inline-block;
  margin: 0 20px 20px 0;
}
.blue_box {
  background: #00afe8;
  border: 2px solid #fff;
  margin-top:3px;
}
.blue_box_wrapper label {
  line-height:110%;
  white-space: nowrap;
  float: left;
}
.school_page h1,
.school_page h2,
.school_page h3 {
  color: #313131;
    font-family: 'FuturaCondensedMedium';
    font-weight: normal;
    text-transform: uppercase;
  margin:0 0 2px;
  padding:0;
  line-height: 100%;
  clear:both;
}

.school_page p {
  margin:0 0 5px;
  padding:0;
  line-height: 115%;
  clear:both;
}

.school_page p.question {
  font-weight: bold;
  padding-top: 15px;
}

#choose-size,
#choose-seasons,
#choose-contact,
#choose-design,
#upload_files {
  display:none;
  clear:both;
}
#choose-contact label.contact_label,
#choose-contact input {
  float:left;
  margin-right: 10px;
}
#choose-contact label.contact_label {
  clear: both;
  display:block;
  width: 100%;
  margin: 6px 0 3px;
}
label.contact_label {
  margin-bottom: 0;
}
.number_wrapper {
  float:left;
}
.number_tile {
  width: 40px;
  height: 32px;
  float:left;
  padding: 13px 0 0 0;
  background: url('./images/counter-tile.png') 0 0;
  font-size: 20px;
  color: #fff;
  text-align: center;
  margin: 0 -5px 10px -2px;
}
#pay-form input{
  margin-bottom: 5px;
}
.number_tile_left {
  width: 40px;
  height: 32px;
  float:left;
  padding: 13px 0 0 0;
  background: url('./images/counter-tile.png') 0 0;
  font-size: 18px;
  color: #fff;
  text-align: center;
  margin: 0 -5px 10px -2px;
}

.num_comma {
  width: 14px;
  height: 32px;
  float:left;
  padding: 13px 0 0 0;
  font-size: 18px;
  color: #333;
  text-align: center;
  margin: 0 -5px 10px -2px;
}
input.long {
  width: 310px;
  color: #000;
  border-radius: 5px;
  box-shadow:inset 0 0 0 1px #444;
  border: 0px;
  background: #ACACAC;
  padding: 5px;
}
input.mini {
  width: 40px;
  color: #000;
  display: inline-block;
  border-radius: 5px;
  box-shadow:inset 0 0 0 1px #444;
  border: 0px;
  background: #ACACAC;
  padding: 5px;
}
input.medium {
  width: 100px;
  color: #000;
  display: inline-block;
  border-radius: 5px;
  box-shadow:inset 0 0 0 1px #444;
  border: 0px;
  background: #ACACAC;
  padding: 5px;
}
label.regular {
  width:169px;
  display: inline-block;
  margin-right:5px;
  color: #fff;
}
textarea.contact {
  width: 328px;
  color: #000;
  border-radius: 5px;
  box-shadow:inset 0 0 0 1px #444;
  border: 0px;
  margin-right:5px;
  background: #ACACAC;
  padding: 5px;
  height: 45px;
}
input.regular {
  width: 155px;
  color: #000;
  border-radius: 5px;
  box-shadow:inset 0 0 0 1px #444;
  border: 0px;
  margin-right:5px;
  background: #ACACAC;
  padding: 5px;
}